.header{
    position: sticky;
    background-color: #fafafa;
    top:0;
    display: flex;
    padding:10px;
    justify-content: space-between;
    z-index: 10;
    align-items: center;
}
.header_user_section{
    position: fixed;
    right:20px;
    display: flex;
    gap: 10px;
}
.header_user_section .header_avatar{
    cursor: pointer;
}
.post_avatar_color{
 background-color: crimson!important;
}
.user_avatar_color{
 background-color: purple!important;
}

