.post_main{
    width:clamp(320px,100vw,500px);
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    margin-bottom: 20px;
    background-color: #fff;
}
.post_header{
    display: flex;
    align-items: center;
    padding: 10px;
}
.post_header button{
    margin-left: auto;
}
.post_header h3{
    margin-left: 5px;
}
.post_image{
    object-fit: contain;
    width: 100%;
}
.post_caption{
    font-weight: normal;
    padding: 10px;
}
.post_comments{
    padding: 20px;
}
.post_commentBox{
    display: flex;
    margin-top: 10px;
}
.post_commentBox input{
    flex:1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray
}
.post_commentBox button{
    flex:0;
    border: none;
    color: #E83200;
    border-top: 1px solid lightgray;
    background-color: transparent;
}
.post_comment{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_comment p{
    flex: 1;
}